[submodule "antarest/launcher/business/slurm_launcher/antares-launcher"]
	path = antarest/launcher/business/slurm_launcher/antares-launcher
	url = https://github.com/AntaresSimulatorTeam/antares-launcher
