[submodule "antares-launcher"]
	path = antares-launcher
	url = https://github.com/AntaresSimulatorTeam/antares-launcher.git
[submodule "examples/test-studies"]
	path = examples/test-studies
	url = https://github.com/AntaresSimulatorTeam/Antares_Simulator_Tests.git
