[submodule "antarest/launcher/business/slurm_launcher/antares_launcher"]
	path = antarest/launcher/business/slurm_launcher/antares_launcher
	url = https://github.com/AntaresSimulatorTeam/antares-launcher
