[build-system]
requires = ["setuptools"]

[project]
name = "AntaREST"
version = "2.19.2"
authors = [{name="RTE, Antares Web Team", email="andrea.sgattoni@rte-france.com" }]
description="Antares Server"
readme = {file = "README.md", content-type = "text/markdown"}
license = {file = "LICENSE"}
requires-python = ">=3.11"
classifiers=[
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3.11",
        "License :: Apache License :: 2.0",
        "Operating System :: OS Independent",
    ]

[project.urls]
Repository="https://github.com/AntaresSimulatorTeam/api-iso-antares"

[tool.setuptools]
platforms = [
    "linux-x86_64",
    "macosx-10.14-x86_64",
    "macosx-10.15-x86_64",
    "macosx-11-x86_64",
    "macosx-12-x86_64",
    "macosx-13-x86_64",
    "win-amd64",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["antarest*"]

[tool.mypy]
exclude = "antarest/fastapi_jwt_auth/*"
strict = true
files = "antarest"
plugins = "pydantic.mypy"
enable_error_code = "explicit-override"

[[tool.mypy.overrides]]
module = ["antarest/fastapi_jwt_auth.*"]
follow_imports = "skip"

[[tool.mypy.overrides]]
module = [
    "antareslauncher.*",
    "jsonschema",
    "pytest",
    "httpx",
    "jsonref",
    "jsonref",
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "alembic.*"
no_implicit_reexport = false


[tool.pytest.ini_options]
testpaths = ["tests"]
markers = [
    "unit_test",
    "integration_test"
]


[tool.black]
target-version = ["py38"]
line-length = 120
exclude = "(antares-?launcher/*|alembic/*)"

[tool.coverage.run]
omit = ["antarest/tools/admin.py", "antarest/fastapi_jwt_auth/*.py"]
relative_files = true  # avoids absolute path issues in CI

[tool.isort]
profile = "black"
line_length = 120
src_paths = ["antarest", "tests"]
skip_gitignore = true
extend_skip_glob = [
    "alembic/*",
    "conf/*",
    "docs/*",
    "examples/*",
    "extra-hooks/*",
    "resources/*",
    "scripts/*",
    "webapp/*",
]

[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

# Same as Black.
line-length = 120
indent-width = 4

# Assumes Python 3.11
target-version = "py311"

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E4", "E7", "E9", "F"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = true

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
