Antares-Launcher==1.4.2
antares-study-version==1.0.9
antares-timeseries-generation==0.1.7

# When you install `fastapi[all]`, you get FastAPI along with additional dependencies:
# - `uvicorn`: A fast ASGI server commonly used to run FastAPI applications.
# - `pydantic`: A data validation library integrated into FastAPI for defining data models and validating input and output of endpoints.
# - `httpx`: A modern HTTP client library for making HTTP requests from your FastAPI application.
# - `starlette`: The underlying ASGI framework used by FastAPI for handling HTTP requests.
# - `uvloop` (on certain systems): A fast event loop based on uvicorn that improves FastAPI application performance.
# - `python-multipart`: A library for handling multipart data in HTTP requests, commonly used for processing file uploads.
# - `watchdog`: A file watching library used by FastAPI's automatic reloading tool to update the application in real-time when files are modified.
# - `email-validator`: A library for email address validation, used for validating email fields in Pydantic models.
# - `python-dotenv`: A library for managing environment variables, commonly used to load application configurations from `.env` files.

# We prefer to add only the specific libraries we need for our project
# and **manage their versions** for better control and to avoid unnecessary dependencies.
fastapi~=0.110.3
uvicorn[standard]~=0.30.6
pydantic~=2.10.0
httpx~=0.27.0
python-multipart~=0.0.9

alembic~=1.7.5
asgi-ratelimit[redis]==0.7.0
bcrypt~=3.2.0
click~=8.0.3
contextvars~=2.4
filelock~=3.4.2
gunicorn~=20.1.0
humanize~=4.11.0
jsonref~=0.2
PyJWT~=2.9.0
MarkupSafe~=2.0.1
numpy~=1.26.4
pandas~=2.2.3
paramiko~=3.4.1
plyer~=2.0.0
psycopg2-binary~=2.9.9
pyarrow~=18.1.0
pyarrow-stubs~=10.0.1.7
py7zr~=0.20.6
python-json-logger~=2.0.7
PyYAML~=5.3.1
redis~=4.1.2
SQLAlchemy~=1.4.46
tables==3.9.2
typing_extensions~=4.12.2
xlsxwriter~=3.2.0