-r antares-launcher/requirements.txt
jsonref==0.2
PyYAML==5.3.1
filelock==3.0.12
sqlalchemy~=1.4
dataclasses~=0.6
redis~=3.5.3
requests~=2.25.1
pandas~=1.1.5
numpy~=1.19.5
dataclasses-json
fastapi[all]~=0.65.2
fastapi-jwt-auth
python-multipart
aiofiles
jinja2~=2.11.3
uvicorn[standard]~=0.13.4
bcrypt~=3.2.0
contextvars~=2.4
scandir
starlette~=0.14.2
locust~=1.5.1
MarkupSafe~=1.1.1
checksumdir~=1.2.0
pydantic~=1.8.2
gunicorn