.pulse {
  border-radius: 50%;
  display: inline-block;
  animation: yellowPulse 2s ease infinite;
  -webkit-animation: yellowPulse 2s ease infinite;
}

@-webkit-keyframes yellowPulse {
  from {
      background-color: #fc9200;
      -webkit-box-shadow: 0 0 1px #333;
  }
  50% {
      background-color: #ffb515;
      -webkit-box-shadow: 0 0 2px #ffb515;
  }
  to {
      background-color: #fc9200;
      -webkit-box-shadow: 0 0 1px #333;
  }
}

@keyframes yellowPulse {
  from {
    background-color: #ffb515;
  }
  50% {
      background-color: #c78e3f;
  }
  to {
      background-color: #ffb515;
  }
}