security:
  disabled: true
  jwt:
    key: super-secret
  login:
    admin:
      pwd: admin
  ldapUrl: ""

db:
  url: "sqlite:///database.db"

storage:
  workspaces:
    tmp:
      path: examples/studies/
    default:
      path: examples/studies/

launcher:
  default: local
  local:
    binaries:
      700: path/to/700

debug: true

logging:
  level: INFO

#  path: /tmp/antarest.log
#  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

# Uncomment these lines to use redis as a backend for the eventbus
# It is required to use redis when using this application on multiple workers in a preforked model like gunicorn for instance
#eventbus:
#  redis:
#    host: localhost
#    port: 6379
