.htCore th {
    background-color: #222333 !important;
    color: white !important;
    border-color: rgba(255, 255, 255, 0.12) !important;
}

thead th.ht__active_highlight {
    background-color: #00B2FF !important;
}
.handsontableInput {
    background-color: #333652;
    color: #fff;
}

.handsontable .htDimmed {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: #1c1e2e !important;
}