# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
dist-electron
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.code-workspace
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
