name: compatibility
on:
  push:
    branches:
      - 'compatibility'

jobs:
  python-test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      matrix:
        os: [windows-latest, ubuntu-latest, macOS-latest]
        python-version: [ 3.8 ]

    steps:
      - name: Checkout github repo (+ download lfs dependencies)
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Test with pytest
        run: |
          pytest

  npm-test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      matrix:
        os: [ windows-latest, ubuntu-latest, macOS-latest ]
        node-version: [ 10.x, 14.x ]
    steps:
      - name: Checkout github repo
        uses: actions/checkout@v1
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
        working-directory: webapp
      - name: Build
        run: npm run build
        working-directory: webapp
#      - name: Run tests
#        run: npm run test
#        working-directory: webapp

