name: main
on:
  push:
    branches:
      - '**'

jobs:
  python-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout github repo (+ download lfs dependencies)
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Check with black
        uses: psf/black@stable
        with:
          options: --check --diff --exclude 'antares-launcher/*'
      - name: Check Typing (mypy)
        run: |
          mypy

  python-test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
      - name: Checkout github repo (+ download lfs dependencies)
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Fix symlink for windows
        if: matrix.os == 'windows-latest'
        run: |
          Start-Process -FilePath "$env:comspec" -ArgumentList "/k", "mklink", "/j", "`"antares-launcher\antareslauncher`"","`"antareslauncher`""
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Test with pytest
        run: |
          pytest
      - name: Fix code coverage paths
        if: matrix.os == 'ubuntu-latest'
        run: |
          sed -i 's/\/home\/runner\/work\/AntaREST\/AntaREST/\/github\/workspace/g' coverage.xml
      - name: SonarCloud Scan
        if: matrix.os == 'ubuntu-latest'
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  npm-test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      matrix:
        os: [ windows-latest, ubuntu-latest ]
    steps:
      - name: Checkout github repo
        uses: actions/checkout@v1
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install dependencies
        run: npm install
        working-directory: webapp
      - name: Build
        run: npm run build
        working-directory: webapp
      - name: Run tests
        run: npm run test
        working-directory: webapp

